p { /*The chat messages themselves (as well as emoticons and badges)*/
	color: black;
	font-family: "arial";
	font-size:20px;
	vertical-align: middle;
	margin:0;
	padding:2px;
}
#chat { /*The container for the chat messages*/
	padding:4px
}
/*
	I would suggest not editing the properties below, unless you know what you're doing
	The above properties are there to be customized, do with them as you please!
*/
span {
	vertical-align:middle;
}
img {
	vertical-align:middle;
}